<div class="artiklar">
    
    <h2>Artiklar</h2>

    <div class="background"></div>
    
    
    <div class="artikel1">
        <div class="bild1"></div>
        <p>Potatisen en miljöbov?</p>
        <p2>blalaskldklak fjksdl fkl sjfkjssdj fsfkl sdfsdfsfs sdfsdf fsfsd wewg hthyj jrewd sdfhjh</p2>
    </div>

    
    <div class="artikel2">
        <div class="bild2"></div>
        <p>Ny morots-medicin!</p>
        <p2>blalaskldklak fjksdl fkl sjfkjssdj fsfkl sdfsdfsfs sdfsdf fsfsd wewg hthyj jrewd sdfhjh</p2>
    </div>

    
    <div class="artikel3">
        <div class="bild3"></div>
        <p>Är sötpotatis onyttigt?</p>
        <p2>blalaskldklak fjksdl fkl sjfkjssdj fsfkl sdfsdfsfs sdfsdf fsfsd wewg hthyj jrewd sdfhjh</p2>
    </div>
    
    
    <div class="artikel4">
        <div class="bild4"></div>
        <p>Rödbetan den nya rädisan.</p>
        <p2>blalaskldklak fjksdl fkl sjfkjssdj fsfkl sdfsdfsfs sdfsdf fsfsd wewg hthyj jrewd sdfhjh</p2>
    </div>

</div>

<div class="rotfruktslista">
    
    <h2>Lista på rotfrukter:</h2>

    <div class="lists">
        
        <div class="list1">
            <ul>
                <li>Kålrabbi</li>
                <li>Kålrot</li>
                <li>Majrova</li>
                <li>Morot</li>
                <li>Palsternacka</li>
                <li><a href="info.html">Potatis</a></li>
                <li>Rotselleri</li>
                <li>Rädisa</li>
                <li>Rättika</li>
            </ul>
        </div>
        
       <div class="list2">
        <ul>
            <li>Rödbeta</li>
            <li>Sockerbeta</li>
            <li>Svartrot</li>
            <li>Sötpotatis</li>
            <li>Persiljerot</li>
            <li>Pepparrot</li>
            <li>Jordärtskocka</li>
            <li>Knölkrasserot</li>
        </ul>
       </div>
    </div>

</div>