<div class="artiklar">
    
    <h2>Artiklar</h2>
    
    
    <div class="artikel1">
        <p>Potatisen en miljöbov?</p>
    </div>

    
    <div class="artikel2">
        <p>Ny morots-medicin!</p>
    </div>

    
    <div class="artikel3">
        <p>Är sötpotatis onyttigt?</p>
    </div>
    
    
    <div class="artikel4">
        <p>Rödbetan den nya rädisan.</p>
    </div>

</div>

<div class="rotfruktslista">
    
    <h2>Lista på rotfrukter:</h2>

    <ul>
        <li>Kålrabbi</li>
        <li>Kålrot</li>
        <li>Majrova</li>
        <li>Morot</li>
        <li>Palsternacka</li>
        <li>Potatis</li>
        <li>Rotselleri</li>
        <li>Rädisa</li>
        <li>Rättika</li>
        <li>Rödbeta</li>
        <li>Sockerbeta</li>
        <li>Svartrot</li>
        <li>Sötpotatis</li>
        <li>Persiljerot</li>
        <li>Pepparrot</li>
        <li>Jordärtskocka</li>
        <li>Knölkrasserot</li>
    </ul>

</div>