<div class="titel">
    <h2>Potatis</h2>
</div>

<div class="navigation">
    <div class="info">
        <a href="info.html">Info</a>
    </div>

    <div class="recept">
        <a href="recept.html">Recept</a>
    </div>

    <div class="odlingstips">
        <a href="odlingstips.html">Tips</a>
    </div>
</div>