<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Rotfrukter.nu</title>
</head>
<body>
    <div class="container">
    
        <header>
            <div class="logo">
                <a href="index.html"></a>
            </div>

            <div class="meny" onclick="toggleMenu()">
                <div class="menyknapp" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>

            <script>
            function myFunction(x) {
                x.classList.toggle("change");
                }
            </script>

            <div class="info">
                <p1>Kontakta oss</p1>
                <p2>Om oss</p2>
                <p3>Stöd oss</p3>
            </div>

        </header>
        
        <main>
        
            <div class="menu">
                <nav>
                    <p></p>
                    <p>Kontakta Oss</p>
                    <p></p>
                    <p>Om Oss</p>
                    <p></p>
                    <p>Stöd oss</p>
                </nav>
            </div>
            <script src="js/menu.js"></script>

            <%= yield %>

        </main>
    
    </div>


</body>
</html>