<div class="titel">
    <h2>Potatis</h2>
</div>

<div class="navigation">
    <div class="info">
        <a href="info.html">Info</a>
    </div>

    <div class="recept">
        <a href="recept.html">Recept</a>
    </div>

    <div class="odlingstips">
        <a href="odlingstips.html">Tips</a>
    </div>
</div>

<div class="receptlista">
    <div class="recept1">
        <h3>Potatisgratäng</h3>
        <div class="morotter">
            <div class="morot1"></div>
            <div class="morot2"></div>
            <div class="morot3"></div>
            <div class="morot4"></div>
            <div class="morot5"></div>
        </div>
    </div>
    <div class="recept2">
        <h3>Potatismos</h3>
        <div class="morotter">
            <div class="morot1"></div>
            <div class="morot2"></div>
            <div class="morot3"></div>
        </div>
    </div>
    <div class="recept3">
        <h3>Potatissallad</h3>
        <div class="morotter">
            <div class="morot1"></div>
            <div class="morot2"></div>
            <div class="morot3"></div>
            <div class="morot4"></div>
        </div>
    </div>
    <div class="recept4">
        <h3>Bakad potatis</h3>
        <div class="morotter">
            <div class="morot1"></div>
            <div class="morot2"></div>
            <div class="morot3"></div>
        </div>
    </div>
    <div class="recept5">
        <h3>Potatisplättar</h3>
        <div class="morotter">
            <div class="morot1"></div>
            <div class="morot2"></div>
        </div>
    </div>
</div>